<%= render 'flash' %>

<div class="d-flex align-items-center justify-content-center">
  <h3>My ORM Autopilot History</h3>
</div>

<% if @chats.nil? || @chats.empty? %>
  <div class="d-flex align-items-center justify-content-center">
    <p>No history yet. Click "New" to start a new ORM code review!</p>
  </div>
<% else %>
  <table class="styled-table">
    <thead>
      <tr>
        <th scope="col" class="w-15 text-center">Chat ID</th>
        <th scope="col" class="text-center">ORM Code</th>
        <th scope="col" class="w-20 text-center">Creation </th>
      </tr>
    </thead>
    <tbody>
      <% @chats.each do |chat| %>
      <tr class="">
        <td class="w-15 text-center"><%= link_to chat.id, user_orm_path(@current_user, chat.id), id: "chat-#{chat.id}" %></td>
        <td class="text-center"><%= simple_format chat.code %></td>
        <td class="w-20 text-center"><%= chat.created_at.strftime('%Y-%m-%d %H:%M') %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
