header{
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

#summary-div{
  width: 100%;
}

#summary-div #summary{
  margin: 10px 9%;;
}

#update-page{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  /* margin: 10px 8%; */
}

#update-page .title {
  margin: 10px;
}

#update-page .function {
  display: flex;
  justify-content: space-around;
}

#update-page .left,
#update-page .right{
  width: 45%;
  min-width: 500px;
}

#update-page .left .input-div,
#update-page .right .feedback-div {
  border: solid 2px #009879;
  padding: 3px;
  margin: 5px;
  min-height: 40px;
}
#update-page .btn{
  margin-top: 10px;
}

#update-page .left .code-input{
  width: 100%;
  height: 400px;
  padding: 5px;
  overflow: auto;
  font-family: monospace;
}
#update-page .left .language-input{
  width: 100%;
  height: 40px;
  padding: 5px;
}

#update-page .right .feedback-div{
  width: 100%;
  height: 460px;
  overflow: auto;
}

#update-page .show-language{
  margin-top: 25px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    min-width: 20%;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.w-15{
  width: 15%;
}

.w-20{
  width: 20%;
}

pre {
  overflow: visible;
}
