.signup-link {
  display: block;
  text-align: center;
  margin-top: 12px;
}

.input-control {
  width: 100%;
}

.centered-div {
  margin-left: auto;
  margin-right: auto;
}

.fix-width {
  width: 60%;
  max-width: 360px;
}